---
layout: default
title: Exercises
---


  <div class="recent">
    <h3>Recent {{ page.title }} Posts</h3>
    <ul>
      {% for post in site.posts %}
        {% capture cat %}{{ post.categories | first }}{% endcapture %}
        {% if cat == page.title  %}
          <!-- <p>HW</p> -->
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}"><strong>{{ post.title }}</strong></a>{% if post.duedate %} [due: {{ post.duedate }}]{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
