---
layout: post
title: UCD Plant Biologists Learning R
---

<div class="content">
  <div class="related">
    <ul>
      {% for post in site.posts %}
      <li>
	<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <p>Test</p>
  <div class="categories">
    <h3>Recent Posts</h3>
    {% for category in site.categories %}
      <h4><a href="{{ site.baseurl }}/categories/{{ category | first | slugize }}">{{ category | first }} ({{ category | last | size }})</a></h4>
      <ul>
        {% for post in category.last %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
