<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
