<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Mike Covington" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/styles.css">
  </head>
  <body>
    <div class="wrapper">
<!--     <header>
      <h1><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>
    </header> -->
      <header>
        <h1 class="header"><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>
        <p class="header"></p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/mfcovington/gh-pages-test/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/mfcovington/gh-pages-test/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/mfcovington/gh-pages-test">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/mfcovington">mfcovington</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
